* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Neucha';
}

body {
    background: linear-gradient(90deg, #5fd0d8, #d9c7e8, #f6b6d9, #b9a7f5);
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: #000;
}

.app-container {
    background: #d7b89c;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 1.5rem;
}

header h1 {
    color: #2c3e50;;
}

form {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}

#input-tarea {
    flex: 1;
    min-width: 0;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    outline: none;
}

#input-tarea:focus {
    border-color: #feab8d;
}

#btn-agregar {
    padding: 0.8rem 1rem;
    background-color: #feab8d;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-weight: bold;
    flex-shrink: 0;
    transition: 0.3s;
}

#btn-agregar:hover {
    background-color: #99c9bd;
}

#contador-caracteres {
    display: block;
    color: #7f8c8d;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-align: right;
}